<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--SID;Description|SID;Description-->
    <add key="SIDsToRemove" value="S-1-5-11;Authenticated Users|S-1-1-0;Everyone|S-1-5-7;Anonymous|S-1-5-32-545;Users (Built-in group)|S-1-5-32-546;Guests (Builtin group)|"/>
    <add key="SIDsToAddAccessMaskQueryValues" value="S-1-5-3;Batch|S-1-5-4;Interactive|S-1-5-6;Service|"/>
    <!--AccessMask = QueryValues | SetValue | Notify | Delete | ReadPermissions | ChangePermissions | TakeOwnership  -->
    <add key="SIDsToAddAccessMaskAdministrator" value="S-1-5-32-544;Administrators (Built-in group)|S-1-5-32-547;Power Users (Built-in group)|S-1-5-32-549;Server Operators (Bult-in domain controller group)|"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>